ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery {
  margin: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  width: 360px;
}
.gallery-link {
}
.gallery-image {
  width: 360px;
  height: 200px;
}
